header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: var(--background-headers);
}

.logoHeader {
    width: 100px;
    height: 90px;
}

h3 {
    margin-bottom: 40px;
}